extends ../layout

block content
  h1= title
  if products.length
    ul.card-list
      each product in products
        li.card
          h2= product.name
          p Price: $#{product.price.toFixed(2)}
          if product.description
            p= product.description
          - const dateStr = typeof product.created_at === 'string' ? new Date(product.created_at).toDateString() : product.created_at.toDateString()
          p Added: #{dateStr}
  else
    .notice
      p No products have been added yet.
  p
    a(href='/products/add') Add a new product
